<?xml version="1.0"?>
<!--
/**
 * Magento
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the Open Software License (OSL 3.0)
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/osl-3.0.php
 * If you did not receive a copy of the license and are unable to
 * obtain it through the world-wide-web, please send an email
 * to contato@maxipago.com.br so we can send you a copy immediately.
 *
 * @category   maxiPago!
 * @package    MaxiPago_Payment
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
-->
<config>
    <modules>
        <MaxiPago_Payment>
            <version>0.5.0</version>
        </MaxiPago_Payment>
    </modules>

    <global>
        <models>
            <maxipago>
                <class>MaxiPago_Payment_Model</class>
                <resourceModel>maxipago_resource</resourceModel>
            </maxipago>
            <maxipago_resource>
                <class>MaxiPago_Payment_Model_Resource</class>
                <entities>
                    <transaction>
                        <table>maxipago_transactions</table>
                    </transaction>
                    <card>
                        <table>maxipago_credit_cards</table>
                    </card>
                    <customer>
                        <table>maxipago_customers</table>
                    </customer>
                    <seller>
                        <table>maxipago_sellers</table>
                    </seller>
                    <splitrule>
                        <table>maxipago_split_rules</table>
                    </splitrule>
                </entities>
            </maxipago_resource>
        </models>

        <resources>
            <maxipago_setup>
                <setup>
                    <module>MaxiPago_Payment</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </maxipago_setup>
            <maxipago_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </maxipago_write>
            <maxipago_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </maxipago_read>
        </resources>

        <blocks>
            <maxipago>
                <class>MaxiPago_Payment_Block</class>
            </maxipago>
        </blocks>

        <helpers>
            <maxipago>
                <class>MaxiPago_Payment_Helper</class>
            </maxipago>
        </helpers>

        <events>
            <sales_order_payment_capture>
                <observers>
                    <maxipago_capture>
                        <type>singleton</type>
                        <class>maxipago/observer</class>
                        <method>salesOrderPaymentCapture</method>
                    </maxipago_capture>
                </observers>
            </sales_order_payment_capture>
            <sales_order_payment_cancel>
                <observers>
                    <maxipago_cancel>
                        <type>singleton</type>
                        <class>maxipago/observer</class>
                        <method>salesOrderPaymentCancel</method>
                    </maxipago_cancel>
                </observers>
            </sales_order_payment_cancel>
            <sales_order_payment_place_end>
                <observers>
                    <maxipago_payment_place_end>
                        <type>singleton</type>
                        <class>maxipago/observer</class>
                        <method>salesOrderPaymentPlaceEnd</method>
                    </maxipago_payment_place_end>
                </observers>
            </sales_order_payment_place_end>
            <controller_front_init_before>
                <observers>
                    <maxipago_front_init_before>
                        <type>singleton</type>
                        <class>maxipago/observer</class>
                        <method>controllerFrontInitBefore</method>
                    </maxipago_front_init_before>
                </observers>
            </controller_front_init_before>
            <sales_order_place_after>
                <observers>
                    <maxipago_fraud_analysis>
                        <type>singleton</type>
                        <class>maxipago/observer</class>
                        <method>sendOrderToFraudAnalysis</method>
                    </maxipago_fraud_analysis>
                </observers>
            </sales_order_place_after>
        </events>

        <sales>
            <quote>
                <totals>
                    <interest>
                        <class>maxipago/total_quote_interest</class>
                        <after>grand_total</after>
                    </interest>
                </totals>
            </quote>
            <order_invoice>
                <totals>
                    <interest>
                        <class>maxipago/total_invoice_interest</class>
                    </interest>
                </totals>
            </order_invoice>
            <order_creditmemo>
                <totals>
                    <interest>
                        <class>maxipago/total_creditmemo_interest</class>
                    </interest>
                </totals>
            </order_creditmemo>
        </sales>
        <pdf>
            <totals>
                <interest translate="title">
                    <title>Interest</title>
                    <source_field>interest_amount</source_field>
                    <font_size>7</font_size>
                    <display_zero>0</display_zero>
                    <sort_order>202</sort_order>
                </interest>
            </totals>
        </pdf>

        <fieldsets>
            <sales_convert_quote_address>
                <interest_amount>
                    <to_order>*</to_order>
                </interest_amount>
                <base_interest_amount>
                    <to_order>*</to_order>
                </base_interest_amount>
            </sales_convert_quote_address>

            <sales_convert_order>
                <interest_amount>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                </interest_amount>
                <base_interest_amount>
                    <to_invoice>*</to_invoice>
                    <to_shipment>*</to_shipment>
                </base_interest_amount>
            </sales_convert_order>
        </fieldsets>
    </global>


    <frontend>
        <secure_url>
            <maxipago>/maxipago/</maxipago>
        </secure_url>
        <routers>
            <maxipago>
                <use>standard</use>
                <args>
                    <module>MaxiPago_Payment</module>
                    <frontName>maxipago</frontName>
                </args>
            </maxipago>
        </routers>
        <translate>
            <modules>
                <maxipago>
                    <files>
                        <default>MaxiPago_Payment.csv</default>
                    </files>
                </maxipago>
            </modules>
        </translate>
        <layout>
            <updates>
                <maxipagomaxipago>
                    <file>maxipago.xml</file>
                </maxipagomaxipago>
            </updates>
        </layout>
    </frontend>

    <adminhtml>
        <translate>
            <modules>
                <maxipago>
                    <files>
                        <default>MaxiPago_Payment.csv</default>
                    </files>
                </maxipago>
            </modules>
        </translate>
        <layout>
            <updates>
                <maxipago>
                    <file>maxipago.xml</file>
                </maxipago>
            </updates>
        </layout>
    </adminhtml>

    <admin>
        <routers>
            <maxipago_admin>
                <use>admin</use>
                <args>
                    <module>MaxiPago_Payment_Adminhtml</module>
                    <frontName>maxipago_admin</frontName>
                </args>
            </maxipago_admin>
        </routers>
    </admin>

    <default>
        <payment>
            <maxipago_settings>
                <show_taxvat_field>1</show_taxvat_field>
                <cpf_customer_attribute>taxvat</cpf_customer_attribute>
                <cnpj_customer_attribute>taxvat</cnpj_customer_attribute>
                <stop_processing>1</stop_processing>
                <cron_time>0 1 * * *</cron_time>
            </maxipago_settings>
            <maxipago_cc>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_Cc</model>
                <title>maxiPago! - Cartão de Crédito</title>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <authorized_order_status>processing</authorized_order_status>
                <captured_order_status>processing</captured_order_status>
                <stop_processing>1</stop_processing>
                <max_installments>1</max_installments>
            </maxipago_cc>
            <maxipago_dc>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_Dc</model>
                <title>maxiPago! - Cartão de Débito</title>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
            </maxipago_dc>
            <maxipago_ticket>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_Ticket</model>
                <title>maxiPago! - Boleto Bancário</title>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <description><![CDATA[<p>Pague sua compra à vista no boleto</p>
<p>Você receberá um <strong>link para impressão do boleto</strong> em seu e-mail.</p>
<p>O link também estará disponível nas informações do pedido em sua conta.</p>
                ]]></description>
            </maxipago_ticket>
            <maxipago_eft>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_Eft</model>
                <title>maxiPago! - Transferência Online</title>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <description><![CDATA[<p>Pague sua compra com Transferência Eletrônica</p>
<small>Ao finalizar, você será redirecionado para o seu banco.</small>
                ]]></description>
            </maxipago_eft>
            <maxipago_redepay>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_RedePay</model>
                <title>maxiPago! - RedePay</title>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <description><![CDATA[<p>Pague sua compra com RedePay</p>
<small>Ao finalizar, você será redirecionado para o ambiente seguro da RedePay.</small>
                ]]></description>
            </maxipago_redepay>
            <maxipago_checkout2>
                <active>0</active>
                <model>MaxiPago_Payment_Model_Method_Checkout2</model>
                <title>maxiPago! - Checkout 2.0</title>
                <checkout2_payment_action>sale</checkout2_payment_action>
                <processor_id>1</processor_id>
                <due_days>5</due_days>
                <max_installments>1</max_installments>
                <payment_action>order</payment_action>
                <order_status>pending</order_status>
                <description><![CDATA[<p>Faça o pedido com maxiPago! Checkout 2.0</p>
<small>O consumidor receberá um e-mail para finalizar a compra no ambiente maxiPago!.</small>
                ]]></description>
            </maxipago_checkout2>
        </payment>
    </default>

    <crontab>
        <jobs>
            <MaxiPago_Payment>
                <schedule>
                    <config_path>payment/maxipago_settings/cron_time</config_path>
                </schedule>
                <run>
                    <model>maxipago/cron::queryPayments</model>
                </run>
            </MaxiPago_Payment>
        </jobs>
    </crontab>

</config>
